#cat{
    height: 700px;
    width: 500px
}

h1{
    color: palevioletred;
}

button{
    color: turquoise;
    font-size: 30px;
    background-color: pink;
    height: 40px;
    width: 100px;
    left: 300px;
}